<%= content_for :title do %>
    <h3>Dashboard</h3>
<% end %>

<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="card card-statistic-1">
        <div class="card-icon bg-primary">
            <i class="far fa-user"></i>
        </div>
        <div class="card-wrap">
            <div class="card-header">
                <h4>Usuários totais</h4>
            </div>
            <div class="card-body">
                <%= User.not_admin.count %>
            </div>
        </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="card card-statistic-1">
        <div class="card-icon bg-danger">
            <i class="far fa-newspaper"></i>
        </div>
        <div class="card-wrap">
            <div class="card-header">
            <h4>Usuários Ativos</h4>
            </div>
            <div class="card-body">
                <%= UserTicket.where(created_at: 6.months.ago..DateTime::Infinity.new).map(&:user_id).uniq.count %>
            </div>
        </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="card card-statistic-1">
        <div class="card-icon bg-success">
            <i class="fas fa-dollar-sign"></i>
        </div>
        <div class="card-wrap">
            <div class="card-header">
            <h4>Montante total</h4>
            </div>
            <div class="card-body">
                <%= format_currency UserTicket.all.map(&:total).sum %>
            </div>
        </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="card card-statistic-1">
        <div class="card-icon bg-warning">
            <i class="fas fa-ticket-alt"></i>
        </div>
        <div class="card-wrap">
            <div class="card-header">
            <h4>Passagens totais</h4>
            </div>
            <div class="card-body">
                <%= UserTicket.all.map(&:quantity).sum %>
            </div>
        </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="card card-statistic-1">
        <div class="card-icon bg-dark">
            <i class="fas fa-ticket-alt"></i>
        </div>
        <div class="card-wrap">
            <div class="card-header">
            <h4>Passagens recentes</h4>
            </div>
            <div class="card-body">
                <%= UserTicket.where(created_at: 6.months.ago..DateTime::Infinity.new).map(&:quantity).sum %>
            </div>
        </div>
        </div>
    </div>                   
</div>

<div class="row">
  <div class="col-lg-6 col-sm-12">
    <div class="card">
      <div class="card-body">
        <%= dashboard_monthly_user_chart %>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-sm-12">
    <div class="card">
      <div class="card-body">
        <%= dashboard_monthly_travel_chart %>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-sm-12">
    <div class="card">
      <div class="card-body">
        <%= dashboard_monthly_value_chart %>
      </div>
    </div>
  </div>
</div>