<% content_for :title do %>
  Usuários
<% end %>

<%= form_tag users_path, method: :get do %>
  <div class="form-row mr-2 pr-1">
    <div class="form-group col-sm-4 offset-sm-6">
      <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: "Pesquise por um associado aqui" %>
    </div>  

    <div class="form-group col-sm-2">
      <%= submit_tag "Pesquisar", name: nil, class: 'btn btn-lg btn-primary w-100' %>
    </div>   
  </div>    
<% end %>

<% if @users.count > 0 %>
  <div class="table-responsive">
    <table class="table table-bordered table-md table-striped">
      <tbody>
        <tr>
          <th class="d-none d-md-table-cell">Nome</th>
          <th>Email</th>
          <th>CPF</th>
          <th>Universidade</th>
          <%= "<th>Ações</th>".html_safe if @users.map { |user| can?(:index_transaction, user) }.any? ||
                                            @users.map { |user| can?(:create_transaction, user) }.any? ||
                                            (@users.invitation_not_accepted.count.positive? && can?(:create, User)) %>          
        </tr>
        <% @users.each do |user| %>
          <tr>
            <td class="d-none d-md-table-cell">
              <%= user.full_name %>
              <div class="table-links">
                <% if can? :show, user %>
                  <%= link_to 'Mostrar', user %>
                <% end %>
                <% if can? :edit, user %>
                  <div class="bullet"></div>  
                  <%= link_to 'Editar', edit_user_path(user), class: 'text-info' %>
                <% end %>
                <% if can? :destroy, user %>
                  <div class="bullet"></div>
                  <%= link_to 'Apagar', user, method: :delete, class: 'text-danger', data: { confirm: 'Are you sure?' } %>
                <% end %>                
              </div>
            </td>
            <td><%= user.email %></td>
            <td><%= user.cpf %></td>
            <td><%= user.university&.abbreviation %></td>
            <% if can?(:index_transaction, user) ||
		              can?(:create_transaction, user) ||
                  (@users.invitation_not_accepted.count.positive? && can?(:create, User)) %>
              <td>
                <% if can? :index_transaction, user %>
                  <%= link_to('Visualizar Transações', user_transactions_path(user), class: 'btn btn-primary w-100') %>
                <% end %>
                <% if can? :create_transaction, user %>
                  <%= button_to('Criar Transação mensal', user_transactions_path(user), method: :post, class: "mt-2 w-100 btn #{user.did_monthly_transaction? ? 'btn-secondary disabled' : 'btn-success'}", disabled: user.did_monthly_transaction?) %>
                <% end %>
                <% if !user.invitation_accepted? && can?(:create, user) %>
                  <%= button_to('Reenviar convite', user_reinvite_path(user), method: :post, class: "mt-2 w-100 btn btn-success") %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %> 
      </tbody>
    </table>
  </div>

  <%= content_for :pagination do %>
    <div class="row">
      <% if can? :create, User %>
        <div class="col-xs-12 col-sm-6 pb-3">
            <%= link_to 'Convidar usuário', new_user_invitation_path, class: 'btn btn-lg btn-success' %>
        </div>
      <% end %>
      <% if @pagy.pages > 1 %>
        <div class="col-xs-12 col-sm-6">
          <%== paginate @pagy %>
        </div>
      <% end %>
    </div>
  <% end %>
<% else %>
  <div class="row">
    <div class="col-12">
      <div class="empty-state">
        <div class="empty-state-icon">
          <i class="fas fa-question"></i>
        </div>
        <h2>Oops, não há dados aqui!</h2>
        <p class="lead">
          Desculpe, mas não conseguimos encontrar nenhum usuário. <br/>
        </p>
        <% if can? :create, User %>
          <%= link_to 'Convidar usuário', new_user_invitation_path, class: 'btn btn-lg btn-primary mt-4' %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
