<% content_for :title do %>
  Passagens
<% end %>

<p id="notice"><%= notice %></p>

<div class="table-responsive">
  <table class="table table-bordered table-md table-striped">
    <tbody>
      <tr>
        <th>Empresa</th>
        <th>Cidade de Origem</th>
        <th>Cidade de Destino</th>
        <th>Valor</th>
      </tr>
      <% @tickets.each do |ticket| %>
        <tr>
          <td><%= ticket.bus_company.name %></td>
          <td><%= ticket.source_city.name %></td>
          <td><%= ticket.destination_city.name %></td>
          <td>
            <%= format_currency ticket.value %>
            <div class="table-links">
              <%= link_to 'Mostrar', ticket %>
              <div class="bullet"></div>
              <%= link_to 'Editar', edit_ticket_path(ticket) %>
              <div class="bullet"></div>
              <%= link_to 'Apagar', ticket, method: :delete, class: 'text-danger', data: { confirm: 'Are you sure?' } %>
            </div>
          </td>
        </tr>
      <% end %> 
    </tbody>
  </table>
</div>

<%= content_for :pagination do %>
  <div class="row">
    <div class="col-xs-12 col-sm-6 pb-3">
        <%= link_to 'Nova Passagem', new_ticket_path, class: 'btn btn-success' %>
    </div>
    <% if @pagy.pages > 1 %>
      <div class="col-xs-12 col-sm-6">
        <%== paginate @pagy %>
      </div>
    <% end %>
  </div>
<% end %>
