<p id="notice"><%= notice %></p>

<% content_for :title do %>
  &nbsp;
<% end %>

<p>
  <strong>ID:</strong>
  <%= @city.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @city.name %>
</p>

<p>
  <strong>State:</strong>
  <%= "#{@city.state} - #{@city.state_abbreviation}"  %>
</p>

<% if can? :index, City %>
  <%= link_to 'Back', cities_path %>
<% end %>
