<% content_for :title do %>
  Transações
<% end %>

<p id="notice"><%= notice %></p>

<div class="table-responsive">
  <table class="table table-bordered table-md table-striped">
    <tbody>
      <tr>
        <th>#</th>
        <th>Mês/Ano</th>
        <th>Valor</th>
        <th>Status</th>
      </tr>
      <% @transactions.each do |transaction| %>
        <tr>
          <td>
            <%= transaction.id %>
            <div class="table-links">
              <%= link_to 'Mostrar', transaction_path(transaction) %>
              <div class="bullet"></div>
              <%= link_to 'Apagar', transaction_path(transaction), method: :delete, class: 'text-danger', data: { confirm: 'Are you sure?' } %>
            </div>
          </td>
          <td><%= [enum_t(transaction, :month), transaction.year].join '/' %></td>
          <td><%= format_currency transaction.value %></td>
          <td><div class="badge badge-<%= transaction.badge_for_status %>"><%= enum_t(transaction, :status)%></div></td>          
        </tr>
      <% end %> 
    </tbody>
  </table>
</div>

<%= content_for :pagination do %>
  <div class="row">
    <div class="col-xs-12 col-sm-6 pb-3">
        <%= button_to('Criar Transação mensal', user_transactions_path, method: :post, class: "btn #{@user.did_monthly_transaction? ? 'btn-secondary disabled' : 'btn-success'}", disabled: @user.did_monthly_transaction?) %>
    </div>
    <% if @pagy.pages > 1 %>
      <div class="col-xs-12 col-offset-sm-6 col-sm-6">
        <%== paginate @pagy %>
      </div>
    <% end %>
  </div>
<% end %>