<% content_for :title do %>
  Criação | Transação
<% end %>

<%= form_with(model: @transaction, local: true, url: :user_transactions) do |form| %>
  <%= form.hidden_field :user_id, value: @user.id, class: 'form-control' %>

  <div class="field">
    <%= form.label :month %>
    <%= form.select :month, enum_options_for_select(Transaction, :month), selected: Transaction.months.to_a[(Time.current.month - 2) % 12][0] %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year, value: (Time.current - 1.month).year %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', user_transactions_path %>
