<% content_for :title do %>
  Transações
<% end %>

<p id="notice"><%= notice %></p>

<div class="table-responsive">
  <table class="table table-bordered table-md table-striped">
    <tbody>
      <tr>
        <th>#</th>
        <th>Usuário</th>
        <th>Mês/Ano</th>
        <th>Valor</th>
        <th>Status</th>
      </tr>
      <% @transactions.each do |transaction| %>
        <tr>
          <td>
            <%= transaction.id %>
            <div class="table-links">
              <%= link_to 'Mostrar', user_transactions_path(transaction.user, transaction) %>
              <div class="bullet"></div>
              <%= link_to 'Editar', edit_transaction_path(transaction) %>
              <div class="bullet"></div>
              <%= link_to 'Apagar', transaction, method: :delete, class: 'text-danger', data: { confirm: 'Are you sure?' } %>
            </div>
          </td>
          <td><%= transaction.user.full_name %></td>
          <td><%= [transaction.month, transaction.year].join '/' %></td>
          <td><%= transaction.value %></td>
          <td><%= transaction.status %></td>          
        </tr>
      <% end %> 
    </tbody>
  </table>
</div>

<%= content_for :pagination do %>
  <div class="row">
    <% if @pagy.pages > 1 %>
      <div class="col-xs-12 col-offset-sm-6 col-sm-6">
        <%== paginate @pagy %>
      </div>
    <% end %>
  </div>
<% end %>