<h1>New Transaction</h1>

<%= form_with(model: @transaction, local: true) do |form| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :month %>
    <%= form.select :month, Transaction.months.map {|key, value| [key.humanize, key]}, selected: Transaction.months.to_a[(Time.current.month - 2) % 12][0] %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year, value: (Time.current - 1.month).year %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', transactions_path %>
