<% content_for :title do %>
    <h3> Transação | <%= @transaction.user.full_name %> </h3>
<% end %>

<% unless @transaction.close? %>
    <div class="row">
        <div class="col-12 mb-4">
            <div class="hero align-items-center bg-warning text-white" style="padding: 2rem">
                <div class="hero-inner text-center">
                    <% if current_user == @user %>
                        <h2>Atenção, <%= @user.name %>!</h2>
                    <% end %>
                    <p>
                        <% if current_user.treasurer? || current_user.admin? %>
                            Essa transação está em processo de análise. <br/>
                            Ao transferir o dinheiro para o estudante, feche a transação clicando em "Fechar Transação". <br/>
                            Uma notificação será, então, enviada por e-mail, informando o estudante que a transação foi confirmada. <br/>
                        <% else %>
                            Essa transação está em processo de análise. <br/>
                            O dinheiro ainda não foi transferido para a conta. <br/>
                            Uma notificação será enviada por e-mail assim que essa transação for confirmada. <br/>
                        <% end %>
                    </p>
                </div>
            </div>
        </div>
    </div>
<% end %>

<div class="row">
    <% @transaction.user_tickets.each_with_index do |user_ticket, idx| %>
        <div class="col-md-6 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4> Passagem <%= idx + 1 %></h4>
                </div>
                <div class="card-body">
                    <div class="form-group" style="margin-bottom: 0.7rem">
                        <label style="margin-bottom: 0"><%= t('activerecord.models.ticket.itinerary')%>:</label> <br/>
                        <%= user_ticket.ticket.itinerary %>
                    </div>
                    <div class="form-group" style="margin-bottom: 0.7rem">
                        <label style="margin-bottom: 0"><%= t('activerecord.models.bus_company.name')%>:</label> <br/>
                        <%= user_ticket.ticket.bus_company.name %>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-4">
                            <label style="margin-bottom: 0"><%= t('activerecord.models.ticket.quantity')%>:</label> <br/>
                            <%= user_ticket.quantity %>
                        </div>
                        <div class="form-group col-4">
                            <label style="margin-bottom: 0"><%= t('activerecord.models.ticket.value')%>:</label> <br/>
                            <%= format_currency user_ticket.original_value %>
                        </div>
                        <div class="form-group col-4">
                            <label style="margin-bottom: 0"><%= t('activerecord.models.ticket.total_value')%>:</label> <br/>
                            <%= format_currency user_ticket.original_value * user_ticket.quantity %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4> Estatísticas da Transação </h4>
            </div>
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-sm-3">
                        <label style="margin-bottom: 0">Viagens totais:</label> <br/>
                        <%= @transaction.user_tickets.sum(&:quantity) %>
                    </div>
                    <div class="form-group col-sm-3">
                        <label style="margin-bottom: 0">Itinerários diferentes:</label> <br/>
                        <%= @transaction.tickets.map(&:itinerary).uniq.count %>
                    </div>
                    <div class="form-group col-sm-3">
                        <label style="margin-bottom: 0">Valor total:</label> <br/>
                        <%= format_currency @transaction.user_tickets.sum(&:total) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% if can? :show, @transaction %>
    <%= link_to 'Voltar', user_transactions_path(@user), class: 'btn btn-lg btn-danger' %>
<% end %>


<% if !@transaction.close? && can?(:close, @transaction) %>
    <%= link_to 'Fechar Transação', close_transactions_path(@transaction), class: 'btn btn-lg btn-primary float-right' %>
    <%= link_to 'Fechar Transação e avançar para próxima', close_transactions_path(@transaction, next_transaction: true), class: 'btn btn-lg btn-primary float-right mr-2' %>
<% end %>
<% if !@transaction.open? && can?(:open, @transaction) %>
    <%= link_to 'Reabrir Transação', open_transactions_path(@transaction), class: 'btn btn-lg btn-success float-right mr-2' %>
<% end %>
