<p id="notice"><%= notice %></p>

<% content_for :title do %>
  &nbsp;
<% end %>

<p>
  <strong>User:</strong>
  <%= @transaction.user %>
</p>

<p>
  <strong>Month:</strong>
  <%= @transaction.month %>
</p>

<p>
  <strong>Year:</strong>
  <%= @transaction.year %>
</p>

<p>
  <strong>Value:</strong>
  <%= @transaction.value %>
</p>

<p>
  <strong>Status:</strong>
  <%= @transaction.status %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
