<%= form_with(model: user_ticket, local: true) do |form| %>
  <% if user_ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_ticket.errors.count, "error") %> prohibited this user_ticket from being saved:</h2>

      <ul>
      <% user_ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :ticket_id %>
    <%= form.text_field :ticket_id %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :original_value %>
    <%= form.number_field :original_value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
