<p id="notice"><%= notice %></p>

<h1>User Tickets</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Ticket</th>
      <th>Quantity</th>
      <th>Original price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_tickets.each do |user_ticket| %>
      <tr>
        <td><%= user_ticket.user %></td>
        <td><%= user_ticket.ticket %></td>
        <td><%= user_ticket.quantity %></td>
        <td><%= user_ticket.original_value %></td>
        <td><%= link_to 'Show', user_ticket %></td>
        <td><%= link_to 'Edit', edit_user_ticket_path(user_ticket) %></td>
        <td><%= link_to 'Destroy', user_ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Ticket', new_user_ticket_path %>
