<p id="notice"><%= notice %></p>

<% content_for :title do %>
  &nbsp;
<% end %>

<p>
  <strong>Name:</strong>
  <%= @university.name %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @university.cnpj %>
</p>

<p>
  <strong>City:</strong>
  <%= @university.city.name %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @university.neighborhood %>
</p>

<p>
  <strong>Address:</strong>
  <%= @university.address %>
</p>

<% if can? :edit, @university %>
  <%= link_to 'Edit', edit_university_path(@university) %> |
<% end %>

<% if can? :index, University %>
  <%= link_to 'Back', universities_path %>
<% end %>
