<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>AABLD</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/izitoast.min.css">

  <!-- Custom CSS -->
  <%= content_for :css %>

  <!-- Dashboard CSS -->
  <%= stylesheet_link_tag 'dashboard', media: 'all', 'data-turbolinks-track': 'reload' %>

<%# Uncomment the following for Google Analytics %>
<%# <!-- Start GA -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-94034622-3');
</script>
<!-- /END GA --></head> %>

<body>
    

  <%= yield %>

  <!-- General JS Scripts -->
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/popper.js"></script>
  <script src="/assets/js/tooltip.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/jquery.nicescroll.min.js"></script>
  <script src="/assets/js/moment.min.js"></script>
  <script src="/assets/js/izitoast.min.js"></script>

  <!-- Render toastr -->
  <%= render 'layouts/dashboard/messages' %>

  <!-- Dashboard Library (Stisla) JS File -->
  <%= javascript_include_tag 'dashboard', 'data-turbolinks-track': 'reload' %>
  
  <!-- Extra JS Libraries -->
  <%= content_for :extra_javascript %>
  
  <!-- Page Specific JS -->
  <%= content_for :javascript %>
</body>
</html>